<ng-container *ngIf="post$ | async as post">
  <mat-card [class.mat-elevation-z3]=true>
    <mat-card-header>
      <mat-card-title class="title">{{post.title}}</mat-card-title>
      <mat-card-subtitle>
        <span>
          <mat-icon inline=true>face</mat-icon>
          {{post.user.full_name}}
        </span>
        •
        <span>
          <mat-icon inline=true>date_range</mat-icon>
          {{post.created_at | date}}
        </span>
        •
        <span>
          <mat-icon inline=true>comment</mat-icon>
          {{post.comments_count}}
        </span>
      </mat-card-subtitle>
    </mat-card-header>

    <img
            mat-card-image
            src="../../../assets/images/default-post-image.jpg"
            alt="Photo"
    >

    <mat-card-content>
      <p class="post-content">
        {{post.text}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card
          [class.mat-elevation-z3]=true
          *ngIf="comments$ | async as comments"
  >
    <mat-card-header>
      <mat-card-title class="comments-title">Commenti</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="comments.length > 0">
        <app-comment-list-item
                *ngFor="let comment of comments"
                [comment]="comment"
        ></app-comment-list-item>
      </ng-container>
      <ng-container *ngIf="comments.length == 0">
        <div class="no-comments-placeholder">Ancora nessun commento</div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</ng-container>
