:host {
  display: block;
  min-height: 100vh;
  margin: 1.5em 4px;

  .title {
    font-size: 32px;
  }

  .comments-title {
    font-size: 24px;
  }

  .no-comments-placeholder {
    color: rgba(0, 0, 0, .54);
    text-align: center;
    margin-bottom: 1em !important;
  }

  mat-card + mat-card {
    margin-top: 1.5em;
  }
}
