:host {
  margin: 0 4px;
  cursor: pointer;
}

.mat-card {
  margin: 4px;
}

.post-item-attributes {
  text-align: center;
  color: rgba(0, 0, 0, .54);
  font-size: 14px;
}

.post-content {
  text-align: justify;
}
