<mat-card [class.mat-elevation-z3]=true>
  <mat-card-header>
    <mat-card-title class="title">{{post.title}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="post-content">
      {{post.text}}
    </p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions class="post-item-attributes">
    <span>
      <mat-icon inline=true>face</mat-icon>
      {{post.user.full_name}}
    </span>
    •
    <span>
      <mat-icon inline=true>date_range</mat-icon>
      {{post.created_at | date}}
    </span>
    •
    <span>
      <mat-icon inline=true>comment</mat-icon>
      {{post.comments_count}}
    </span>
  </mat-card-actions>
</mat-card>
