<mat-sidenav-container class="container">
  <mat-toolbar
          [class.mat-elevation-z3]=true
          color="primary"
          class="top-bar"
  >
    <button
            mat-button
            (click)="sidenav.open()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a
            class="main-title"
            routerLink="/posts"
            matTooltip="Torna alla home"
    >{{title}}</a>
    <span class="spacer"></span>
    <button
            mat-button
            [matMenuTriggerFor]="appMenu"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav
          #sidenav
          class="sidenav"
  >
    <div>item 1</div>
    <div>item 2</div>
    <div>item 3</div>
  </mat-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>
