:host {
  width: 100%;
  height: auto;
}

.top-bar {
  position: fixed;
  top: 0;
  z-index: 999;
}

.content {
  overflow: auto;
  max-width: 900px;
  margin: 64px auto 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav {
  padding: 20px;
}

.list-item:hover {
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
}

.main-title {
  color: white;
  text-decoration: none;
}
