<img
        class="avatar"
        src="../../../../assets/images/default-user-image.jpg"
        alt="Photo"
>
<div class="comment-content">
  <span class="metadata">{{comment.user.full_name + " • " + (comment.created_at | date: 'medium')}}</span>
  <p class="text">{{comment.text}}</p>
</div>
