:host {
  display: flex;

  &:not(:last-of-type) {
    border-bottom: solid 1px rgba(0, 0, 0, .12);
    margin-bottom: 1em;
  }

  .avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  .comment-content {
    flex: 1;
    padding-left: 1em;
  }

  .metadata {
    color: rgba(0, 0, 0, .54);
  }
}
